<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Edit
        <%= mDs.name%>
    </h1>

    <form action="/<%= mDs.id %>" method='post'>
        Name: <input type="text" name="name">
        <br> Age: <input type="text" name="age">
        <br>
        <br>
        <input type="submit" value="Edit Mongoose">
    </form>
    <br>
    <form action="/" method="get">
        <input type="submit" value="Go Back">
    </form>
</body>

</html>